.main {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box {
    width: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 3px;
}

.myform-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    /* gap: 20px; */
    align-items: center;
}

.col-form-label {
    font-weight: 500;
}
